* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  color: black;
  text-align: center;
  line-height: 1.5;
}

.classicListItem {
  display: inline-flex;
  background-color: lightgray;
  height: 200px;
  width: 200px;
  margin: 20px;
}
